* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    90deg,
    rgb(5, 28, 88) 0%,
    #0a0049 50%,
    rgb(4, 1, 48) 100%
  );
  padding-top: 120px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #fff;
}
.input_box input {
  padding: 12px;
  width: 400px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
}
.loading {
  display: none; /* hidden by default */
  margin-top: 10px;
}

.spinner {
  width: 30px;
  height: 30px;
  border: 4px solid #ddd;
  border-top: 4px solid #000;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

li {
  list-style: none;
  font-size: 18px;
  padding: 10px 10px;
  background-color: rgba(51, 51, 51, 0.629);
  border-bottom: 2px solid #000;
}
.active {
  background-color: #00000064;
}
